.home-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100svh;
    overflow:hidden;
    background-color: #181818;
    gap:32px;
}
.home-all-playlist-container{
    display: flex;
    flex-direction: column;
    gap:64px;
    overflow: auto;
}