.cards-main-container{
    display: flex;
    flex-direction: column;
    gap:32px;
    padding: 24px 16px;
}
.cards-main-container .cards-container{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap:48px;
}
.cards-main-container h3{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 0px;
}

.cards-container .each-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:stretch;
    gap:16px;
    width: 169px;
    text-decoration: none;
}
.each-card-container img{
 width: 166px;
 height: 166px;
 border-radius: 8px;
}
.each-card-container p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    text-align: center;

}
.error-message-container{
    color: red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    background-color: #040306;
    width: 100%;
    border-radius: 8px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categories-card{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;

}
.categories-card img{
    position: absolute;
    top: 42%;
    left: 42%;
    width: 70%;
    border-radius: 8px;
    object-fit: cover;
    z-index: 0;
   rotate: 24deg;
}

.categories-card-1 {
    background-color: #EC6D45;
}
.categories-card-0 {
    background-color: #E39C40;
}
.categories-card-2 {
    background-color: #44B844;
}
.categories-card-3{
    background-color: #4B5B63;
}
.categories-card-4 {
    background-color: #8E43AD;
}
.categories-card-5 {
    background-color: #DF3A5B;
}
.categories-card-6 {
    background-color: #D8383B;
}
.categories-card-7 {
    background-color: #7F5FFF;
}
.categories-card-8 {
    background-color: #3965C5;
}
.categories-card-10{
    background-color: #9EB8C6;
}
.categories-card-11{
    background-color: #3AADC9;
}
.categories-card-12{
    background-color: #8ABF3D;
}
.categories-card-13{
    background-color: #006369;
}
.categories-card-14{
    background-color: #C73555;
}
.categories-card-15{
    background-color: #AC3EBA;
}
.categories-card-16{
    background-color: #279653;
}
.categories-card-17{
    background-color: #D28935;
}
.categories-card-18{
    background-color: #4B5B63;
}.categories-card-19{
    background-color: #4840CA;
}