.loginpage-section{
    /* background-image: url("/src/assests/login-bg.png");
   */ width: 100vw; 
    height: 100vh;
}
.loginpage-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0000008C;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 12px;
    background-color: #181818;
    width: 456px;
    min-height: 440px;
    justify-content: center;
    align-items: center;
}
.form-container img {
    width: 100px;
}
.form-container h2{
    color:#FFFFFF;
    font-size: 34px;
    margin-top: 16px;
    margin-bottom: 24px;
    

}