.loginpage-section{
    /* background-image: url("/src/assests/login-bg.png");
   */ width: 100vw; 
    height: 100vh;
}
.loginpage-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}